<div style="width:100%; background-color: white;"> 
<h1>Lead Headline Topic: 'texas abortion law' (2%)</h1>
<ul>
<li><a href='/news/2021/sep/7/video-game-company-ceo-out-over-pro-life-comment-t/'>Video game company CEO out over pro-life comment on Texas abortion law</a></li>
<li><a href='https://news.google.com/articles/CAIiEPcJfXOZTC4KWKl-nHILFksqFwgEKg8IACoHCAowjuuKAzCWrzwwt4QY?hl=en-US&gl=US&ceid=US%3Aen'>Opinion | The Texas Abortion Law Didn’t Come Out of Thin Air</a></li>
<li><a href='https://news.google.com/articles/CAIiEKnxpaMUpfw_m3hE0rLawDIqFwgEKg4IACoGCAow9vBNMK3UCDCpvJYH?hl=en-US&gl=US&ceid=US%3Aen'>The Texas Abortion Law Cites 'Fetal Heartbeat,' But It's Medically Inaccurate : Shots - Health News</a></li>
 <br/> 
</ul>     
</div>

